<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- 控制台输出 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %-30logger{36} - %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <!-- 针对特定包，设置日志级别为 INFO -->
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.hibernate" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.mongodb.driver" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- 你的应用代码的日志级别保持为 DEBUG -->
        <Logger name="com.yourcompany.yourapp" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- 根日志等级设为 DEBUG -->
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>